name: Deploy to Heroku

on:
  push:
    branches: [master]

jobs:

  deploy:
    name: Deploy to Heroku
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Add remote origin
        run: git remote add heroku https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/${{ secrets.HEROKU_APP_NAME }}.git

      - name: Deploy backend to heroku
        run: git push heroku HEAD:master -f
